:root{
    background-color: #abcdef;

    --board-width: 500px;

}

.container{
    height: 100vh;
    min-height: 100%;
    width: var(--board-width);
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.headings{
    text-align:center;
    margin-bottom: 20px;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.25rem;
}

#game-container{
    display: grid;
    width: 500px;
    height: 500px;
    background-color: white;
    grid-template-rows: repeat(auto-fit, minmax(100px,1fr));
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    border: 2px solid red;
    border-collapse: collapse;
}

.square{
    border: 1px solid black;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol{
    font-size: 4rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    pointer-events: none;
}

#game-inputs{
    width: 100%;
    padding: 10px;
    > form {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;

        > *{
            display:grid;
            align-items: center;
        }

        button{
            grid-column-start: 2;
        }

        #playerO-input{
            grid-column-start: 3;
        }
    }
}