@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root{
    background-color: #abcdef;

    --board-width: 500px;

    font-family: 'Architects Daughter', cursive;

}

button, input{
    font-family: 'Architects Daughter', cursive;
    font-size: 1em;
}

button{
    cursor: pointer;
}

.container{
    height: 100vh;
    min-height: 100%;
    width: var(--board-width);
    margin: 10px auto 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.headings{
    text-align:center;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.25rem;
}

#game-container{
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-rows: repeat(auto-fit, minmax(100px,1fr));
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    background:transparent;
      border-top-left-radius: 255px 15px;
      border-top-right-radius: 15px 225px;
      border-bottom-right-radius: 225px 15px;
      border-bottom-left-radius:125px 15px;

      border-bottom: solid 3px #41403E;
}

.row.last-row{
    border-bottom: none;
}

.square{
    border-top-left-radius: 255px 15px;
    border-bottom-left-radius:15px 255px;

    border-right: solid 3px #41403E;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.square.first-row{
    border-top-right-radius: 15px 225px;
}

.square.last-row{
    border-bottom-right-radius: 8px 225px;
}

.square.last-col{
    border-right: none;
}

.symbol{
    font-size: 5.5rem;
    font-family: 'Architects Daughter', cursive;
    pointer-events: none;
}

#game-inputs{
    width: 100%;
    padding-bottom: 10px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;

        > *{
            display:grid;
            align-items: center;
            gap:5px;
        }

        > button{
            grid-column-start: 2;
        }

        #player2-input{
            grid-column-start: 3;
        }
}

#status{
    margin: 10px 0 20px 0;
}

.symbol-select{
    display: grid;
    gap:2px;
    
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;

    button{
        width: 100%;
        aspect-ratio: 1;
    }
}

.btn-smiley{
    transform: rotate(90deg);
    display: inline-block;
}

button.selected{
    background-color: rgb(255, 197, 197);
}